<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>insertion accessrecord</h1>
        <form  method="POST">
            {% csrf_token %}
            <label for="webpage">name</label>
            <select name="webpage" id="webpage">

            {% for wo in webpages %}
                <option value="{{wo}}">{{wo.name}}</option>
            {% endfor %}
            </select><br><br>
            <label for="author">author</label>
            <input type="text" name="author" id="author"><br><br>
            <label for="date">date</label>
            <input type="date" name="date" id="date"><br><br>

            <input type="submit" value="insert accessrecord">

        </form>
    </center>
</body>
</html>